.div111{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.div111cont{
    width: 40%;
}
.div111img{
    object-fit: cover;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    animation-name: slide;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes slide{
    0%{
        background-image: url(../../../Asset/t1.png);
    }
    50%{
        background-image: url(../../../Asset/t.png);
    }
    100%{
        background-image: url(../../../Asset/t2.png);
    }
}
.doublequotes{
    background-color: rgb(131, 76, 76);
    border-radius: 100px;
    padding: 12px;
    object-fit: contain;
}
.customerquotes{
    padding: 8px;
    line-height: 40px;
    font-size: 23px;
    font-family:'Roboto', sans-serif;
    font-style: italic;
}
.customerquotes:hover{
    color: rgb(131, 76, 76);
}
.customername{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    padding-left: 8px;
    /* padding-top: 20px; */
}
.customerp{
    /* padding-bottom: 8px; */
    padding-left: 10px;
    /* padding: 8px, 8px,8px, 0px; */
    /* padding: 8px; */
}
.divtestimonial{
    /* height: 70%; */
    padding-bottom: 30px;
}